@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Poppins;
}

body{
    background-color: rgb(49, 134, 173);
}

.nav{
    background-color: rgb(36, 167, 255);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.nav ul{
    list-style: none;
    display: flex;
    padding: 15px;
    margin-right: 20px;
    align-items: center;
}

.nav h1{
    margin: 30px;
    color: rgb(253, 216, 5);
}

.nav ul li{
    padding: 10px;
}

#n1 {
    width: 100px;
    height: 30px;
    background-color: rgb(253, 216, 5);
    border-radius: 0%;
}

#n2{
    width: 100px;
    height: 30px;
    background-color: rgb(253, 216, 5);
    border-radius: 0%;
}

.second{
    /*margin: 20px;*/
    width: 100%;
    height: 500;
    justify-content: space-between;
    display: flex;


}
.body1{
    width: 50%;
}

.body1 h1{
        margin: 20px;
        color: rgb(255, 255, 255);
        
}

.body1 p{
    margin: 20px;
    margin-top: 5px;
}

.img1{
    width: 50%;
}

.img1 img{
    width: 100%;
    background-size: cover;
    padding: 50;
}